/* app css stylesheet */

body {
  margin: 10px;
}
* {box-sizing: border-box;}

.fullwidth {
  width: 100%;
}
.comments {color: #000; border:1px solid #ccc}
li {
  background-color: #ccc;
  color: #000;
  padding: 10px;
  list-style: none;
}
.active {
  border: 1px solid blue;
  background-color: cornsilk;
}
button{ width:50px ;  height: auto;margin: 1rem;}

